html {
    font-family: sans-serif;
    background: #eee;
    /* padding: 1rem; */
}
  
body {
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
    background: rgb(224, 230, 216);
    align-items: center;
}
h1 {
    text-align: center;
    color: lightseagreen;
    text-shadow: limegreen;
}

ul {
    list-style-type: none;
}

.station_view {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    margin: 0.5cm;
    padding: 0.1cm;
    max-width: 400px;
}

.car_view {
    display: inline-flex;
    background-color: rgb(77, 76, 78);    
    color: rgb(8, 248, 228);
    max-width: 300px;
    max-height: 200px;
    padding: 0.1cm;
    margin: 0.2cm;
    align-self: center;
}
.car_view ul li {
    margin: 0;
    text-align: left;
}

.wishlist_view {
    display: inline-flex;
    background-color: moccasin;
    max-width: 50%;
    margin: 0.2cm;
    padding: 0.2cm;
}

.wishlist_view form {
    margin: 0.2cm;
    padding: 0.2cm;
}
.auth_div {
    display: table;
    width: 100%;
 }

 .auth_form {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
 }

input, label {
     padding: 5px;
 }