<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} - OlaRent</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- <link rel="stylesheet" href='style.css'> -->
</head>
<body>
    <nav>
        <h1>Welcome to Ola Rent</h1> 
        <a href="{{ url_for('index') }}">home</a>
        <a href="{{ url_for('auth.login') }}">login</a>
        <a href="{{ url_for('auth.register') }}">register</a>
        <a href="{{ url_for('rent.station') }}">station</a>
        <a href="{{ url_for('rent.car') }}">car</a>
        <a href="{{ url_for('rent.booking') }}">book</a>
        <a href="{{ url_for('rent.wishlist') }}">wishlist</a>
    </nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    {% block content %} {% endblock %}
</body>
</html>