{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Cars{% endblock %}</h1>
{% endblock %}

{% block content %}
<h3>Available Cars</h3>
<p>Total count: {{ car_count }}</p>
{% for car in cars %}
    <div style="display: flex;
    background-color: rgb(160, 163, 135);
    margin: 0.5cm;
    padding: 0.1cm;
    color: rgb(12, 218, 233);">
        <ul style="list-style-type: none;">
            <li>ID: {{ car._id }}</li>
            <li>Company: {{ car._company }}</li>
            <li>Model: {{ car._model }}</li>
            <li>Created: {{ car._year }}</li>
    </div>
{% endfor %}
{% endblock %}